<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
    <h1 class="text-center">Danh sác ca sĩ yêu thích</h1>
    <div class="text-center"><a href="/singer/add" class="btn btn-primary">Thêm mới</a></div></br>
    <table class="table">
        <thead>
            <tr>
                <td class="active">Id</td>
                <td class="active">Tên ca sĩ</td>
                <td class="active">Ảnh đại diện</td>
                <td class="active">Link liên kết</td>
                <td class="active">Điều khiển</td>
            </tr>
        </thead>
        <tbody>
            <% arrSinger.forEach(Singer => { %>
            <tr>
                <td><%= Singer.id %></td>
                <td><%= Singer.name %></td>
                <td><img src="<%= Singer.avata %>"> <%= Singer.avata %></td>
                <td><a target="_blank" href="<%= Singer.link %>"><%= Singer.link %></a></td>
                <td>
                    <a href="/singer/edit/<%= Singer.id %>" class="btn btn-default">Cập nhật</a>
                    <a href="/singer/delete/<%= Singer.id %>" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            %> <% }); %>
        </tbody>
    </table>
</body>
</html>